/**************************** Deafult Start ********************************/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.at-site {
    font-family: 'Quicksand', sans-serif;
    background-color: #F8FAFF;
}

a {
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.btn {
    padding: 7px 32px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

.btn-dark {
    background-color: #092038;
    border-color: #092038;
}

.at-section-title {
    font-size: 50px;
    color: #0E0E0E;
    font-weight: 700;
    margin-bottom: 30px;
}

.at-section-description {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}

.at-input-icon {
    position: absolute;
    left: 15px;
    z-index: 10;
    top: 10px;
    width: 25px;
    height: 25px;
}

.at-input-icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

.form-control {
    border: 1px solid #1C1C1C;
    border-radius: 4px;
    background-color: #fff;
    padding: 12px 15px 12px 55px;
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}

.form-control::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}

.form-control::-moz-placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}

.form-control:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}

.form-control::-ms-input-placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}

.form-control::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #1C1C1C;
}

.table>:not(caption)>*>* {
    padding: 20px 55px;
    border-color: #092038;
}

.form-check-input:checked {
    background-color: #fff;
    border-color: #092038;
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23092038'/%3e%3c/svg%3e");
}

.form-check-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.at-form-input {
    position: relative;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: rgba(28, 28, 28, 0.1);
}

.btn-success {
    background-color: #58B182;
    border-color: #58B182;
}

.btn-danger {
    background-color: #DC4F50;
    border-color: #DC4F50;
}

.text-danger {
    color: #DC4F50!important;
}

.text-success {
    color: #58B182 !important;
}

.at-section-link {
    font-weight: bold;
    text-decoration: none;
    color: #0E0E0E;
}

.at-section-link:hover {
    color: #0E0E0E;
    opacity: 0.8;
}

.at-menu-open {
    overflow: hidden;
}

.table td {
    white-space: nowrap;
}


/**************************** Deafult End ********************************/


/**************************** Header Start ********************************/

.navbar .nav-item {
    margin: 0 17px;
}

.navbar .nav-link {
    color: #092038;
    font-size: 18px;
    font-weight: 700;
}

.at-header-btn {
    margin-left: 17px;
}

.at-user-profile-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.at-user-profile-img.dropdown-toggle::after {
    display: none;
}

.at-header-btn .dropdown-menu[data-bs-popper] {
    left: unset;
    right: 0;
}


/**************************** Header End ********************************/


/**************************** Home Page Start ********************************/

.at-stock-slider-section {
    background-color: #092038;
    color: #ffffff;
    padding: 40px 0;
}

.at-stock-slide__inner {
    margin-right: 40px;
}

.at-stock-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.at-stock-price {
    margin-bottom: 0;
}

.at-stock-slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.at-landing-section {
    padding: 240px 0;
}

.at-landing-section .at-section-title {
    font-size: 70px;
    margin-bottom: 35px;
}

.at-get-started-section {
    padding: 100px 0;
}

.at-section-heading {
    width: 760px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}

.at-get-started-card {
    padding: 100px 30px;
    text-align: center;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.at-get-started-title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.at-get-started-icon {
    margin-bottom: 50px;
    height: 95px;
}

.at-get-started-icon img {
    max-height: 100%;
}

.at-coming-together-section {
    padding: 100px 0;
    background-color: #fff;
}

.at-coming-together-img img {
    border-radius: 15px;
    width: 100%;
}

.take-market-section {
    padding: 100px 0;
}

.at-newslatter-ection {
    padding: 100px 0;
}


/**************************** Home Page End ********************************/


/**************************** Dashboard Page Start ********************************/

.at-all-stock-section {
    padding: 100px 0;
}

.nav-tabs {
    border-bottom: 1px solid rgba(9, 32, 56, 0.2);
}

.nav-tabs .nav-link {
    color: rgba(9, 32, 56, 0.7);
    font-size: 18px;
    font-weight: 700;
    padding: 10px 52px;
}

.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgba(9, 32, 56, 1);
    background-color: transparent;
    border-color: transparent transparent #092038;
}

.table td {
    color: #092038;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
}

.at-stock-category {
    font-size: 14px;
    font-weight: normal;
    color: #A8A8A8;
    margin-left: 10px;
}

.at-stock-chart {
    width: 100px;
}

.at-stock-value-position {
    font-weight: normal;
}

.at-stock-details {
    padding: 25px 60px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(9, 32, 56, 0.5);
}

.at-stock-label {
    font-size: 12px;
    font-weight: normal;
}

.at-stock-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}

.at-stock-seprate {
    font-size: 14px;
}

.at-stock-value {
    font-size: 14px;
}

.at-stock-overview-content__inner {
    padding: 0 40px;
    position: relative;
    margin-top: 25px;
}

.at-stock-overview-content .row .col:first-child .at-stock-overview-content__inner:after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    background-color: #092038;
}

.at-stoke-content__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    padding: 20px 40px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.at-stock-overview-content .row {
    border-bottom: 1px solid rgba(7, 21, 37, 0.5);
}

.at-stoke-content-label {
    font-size: 14px;
    font-weight: 600;
}

.at-stoke-content__inner .form-check {
    font-size: 14px;
    font-weight: normal;
}

.at-stoke-detail-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}

.at-stoke-detail-btn .btn {
    margin: 0 10px;
    min-width: 180px;
    max-width: 50%;
}

.at-option-chain-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.at-option-chain-date .form-control {
    padding: 0;
    border: none;
    width: auto;
    margin-left: 20px;
}

.at-inner-table {
    margin-top: 20px;
}

.at-inner-table td {
    font-size: 14px;
    font-weight: normal;
}

.at-inner-table thead th {
    border-top: 1px solid #000;
}

.at-inner-table th {
    font-size: 14px;
}

.at-inner-table>:not(caption)>*>* {
    padding: 10px 30px;
}

.at-option-chain-table td span {
    display: block;
}

.at-option-chain-table td:last-child,
.at-option-chain-table th:last-child {
    background-color: #F8FAFF;
    text-align: center;
}

.at-option-put-content .at-option-chain-table td:first-child,
.at-option-put-content .at-option-chain-table th:first-child {
    background-color: #F8FAFF;
    text-align: center;
}

.at-option-put-content .at-option-chain-table {
    text-align: center;
}

.at-option-put-content .at-option-chain-table td:last-child,
.at-option-put-content .at-option-chain-table th:last-child {
    background-color: transparent;
}

.at-order-content,
.at-history-content {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #092038;
    padding: 20px 40px;
}

.at-order-stock-lable {
    font-weight: normal;
    margin-right: 15px;
}

.at-history-content tr {
    cursor: pointer;
}

.modal-content {
    font-size: 18px;
    font-weight: 700;
    color: #092038;
    border-radius: 20px;
}

.at-history-modal-content__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}

.at-history-modal-footer .at-history-modal-content__inner {
    margin-bottom: 0;
}

.modal-title {
    font-size: 26px;
    font-weight: 700;
}

.modal-header {
    border-bottom: 1px solid #0E0E0E;
}

.at-history-modal-content {
    border-bottom: 1px solid #092038;
    margin-bottom: 15px;
}

.at-all-stock-tab-content tr {
    cursor: pointer;
}


/**************************** Dashboard Page End ********************************/


/**************************** Login Page Start ********************************/

.at-login-img-content {
    position: relative;
    height: 100vh;
}

.at-login-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.at-login-img {
    height: 100%;
}

.at-login-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.at-login-content {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.at-login-heading .at-section-title {
    margin-bottom: 20px;
}

.at-login-heading .at-sectio-description {
    font-size: 18px;
    margin-bottom: 45px;
}

.at-login-content__inner {
    width: 530px;
    max-width: 100%;
    margin: auto;
}


/**************************** Login Page End ********************************/


/**************************** Footer Start ********************************/

.at-site-footer {
    padding: 30px 0;
    background-color: #071525;
    color: #fff;
}

.at-site-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.at-site-copyright-text {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
}


/**************************** Footer End ********************************/


/**************************** Footer End ********************************/

@media (max-width:1199px) {
    .at-landing-section {
        padding: 150px 0;
    }
    .at-landing-section .at-section-title {
        font-size: 55px;
        margin-bottom: 30px;
    }
    .at-get-started-section {
        padding: 50px 0;
    }
    .at-section-title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .at-get-started-card {
        padding: 50px 30px;
    }
    .at-section-heading {
        margin-bottom: 30px;
    }
    .take-market-section,
    .at-coming-together-section,
    .at-newslatter-ection {
        padding: 50px 0;
    }
}

@media (max-width:991px) {
    .form-control {
        padding: 8px 10px 8px 50px;
    }
    .at-input-icon {
        left: 12px;
        top: 8px;
    }
    .at-login-heading .at-sectio-description {
        margin-bottom: 25px;
    }
    .at-section-title {
        font-size: 34px;
    }
    .at-section-description {
        font-size: 16px;
    }
    .at-all-stock-section {
        padding: 50px 0;
    }
    .table>:not(caption)>*>* {
        padding: 15px 20px;
    }
    .table td {
        font-size: 16px;
    }
    .at-stock-category {
        margin-left: 5px;
    }
    .at-stock-slider-section {
        padding: 25px 0;
    }
    .navbar-brand img {
        width: 70px;
    }
    .at-user-profile-img img {
        width: 40px;
        height: 40px;
    }
    .navbar-toggler-icons {
        width: 35px;
        height: 3px;
        background-color: #092038;
        display: block;
        margin-bottom: 5px;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
    }
    .navbar-toggler-icons:last-child {
        margin-bottom: 0;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icons {
        margin-bottom: 0;
        position: relative;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icons:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 5px;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icons:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icons:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .navbar-toggler {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        position: relative;
        z-index: 100;
    }
    .navbar-toggler:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .at-header-btn {
        margin-left: auto;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }
    .navbar-nav.ms-auto {
        height: 100vh;
        background-color: #fff;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .at-stock-overview-content__inner {
        padding: 0 10px;
    }
    .at-stock-details {
        padding: 15px 20px;
        border-radius: 15px;
    }
    .at-stoke-content__inner {
        width: 100%;
        padding: 20px 10px 0;
    }
    .at-stoke-detail-btn {
        margin-top: 10px;
    }
    .at-section-heading {
        margin-bottom: 20px;
    }
    .at-landing-section {
        padding: 100px 0;
    }
    .at-landing-section .at-section-title {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .at-section-description {
        margin-bottom: 30px;
    }
    .at-get-started-content .row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .at-get-started-content .col {
        margin-bottom: 30px;
    }
    .at-get-started-section {
        padding: 50px 0 20px;
    }
}

@media (max-width:767px) {
    .at-login-img-content {
        height: auto;
    }
    .at-login-content {
        padding: 50px 15px;
    }
    .at-section-title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .at-login-heading .at-section-title {
        margin-bottom: 10px;
    }
    .nav-tabs .nav-item {
        width: 100%;
        text-align: center;
    }
    .nav-tabs .nav-item .nav-link {
        width: 100%;
    }
    .table>:not(caption)>*>* {
        padding: 10px 15px;
    }
    .table td {
        font-size: 16px;
        white-space: nowrap;
    }
    .at-site-footer__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .at-footer-logo {
        margin-bottom: 30px;
    }
    .at-site-footer {
        padding: 20px 0;
    }
    .at-order-content,
    .at-history-content {
        border-radius: 15px;
        padding: 15px 15px;
    }
    .modal-content {
        font-size: 16px;
        border-radius: 15px;
    }
    .at-history-modal-content__inner {
        margin-bottom: 10px;
    }
    .modal-title {
        font-size: 22px;
    }
    .at-landing-section {
        padding: 70px 0;
    }
    .at-landing-section .at-section-title {
        font-size: 34px;
    }
    .at-coming-together-section .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .at-coming-together-section .at-coming-together-content {
        margin-bottom: 30px;
    }
    .take-market-section .at-coming-together-content {
        margin-bottom: 20px;
    }
    .at-newslatter-form .form-control {
        width: 100%;
        margin-bottom: 10px;
    }
    .at-newslatter-form .btn {
        width: 100%;
        border-radius: 5px !important;
    }
}


/**************************** Footer End ********************************/